@import url("variable.css");

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--main);
}

.slideall {}

.slider {
    display: flex;
    justify-content: center;
}

.slider img {
    width: 50%;

}


.content {
    text-align: center;
    margin-top: 3rem;
    height: 5rem;
}